<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/ico/ico.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/main.css">
  <title>Mount</title>
</head>
<body>

  <header id="header_container" class="header_container"></header>


  <h1>Aquí vamos a traer lo que se filtre en la busqueda por dia</h1>
  <form action="/mounth" method="post" >
    <div>
      <input type="text" placeholder="Buscar">
      <input type="button" value="Buscar">
    </div>

  </form>
      <script src="/js/index.js"></script>
</body>
</html>