<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="shortcut icon" href="/ico/ico.ico" type="image/x-icon">
    <title> 😮 Busqueda por rango de fechas</title>
  </head>
  <body>
    <header id="header_container" class="header_container"></header>
    <h1 class="title_web">Buscar en un rango de fechas</h1>
    <form action="/sales/dateResult" method="post">
      <input type="date" name="date_start" />
      <input type="date" name="date_end" />
      <input type="submit" value="Buscar Ventas" />
    </form>
    <footer class="footer_container" id="footer_container"></footer>
    <script src="/js/index.js"></script>
  </body>
</html>
