<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="shortcut icon" href="/ico/ico.ico" type="image/x-icon">
    <title>Sale Delete</title>
  </head>
  <body>
    <h1 class="title_web title_padd">Desea eliminar este registro</h1>
    <form
      class="form_eliminar"
      action="/sales/delete/<%= data[0]['id_sale'] %>"
      method="POST"
    >
      <a href="/sales"><div id="confirmacion">Cancelar</div></a>
      <input id="btm-eliminar" type="submit" value="Sí Eliminar" />
    </form>
  </body>
</html>
