<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/ico/ico.ico" type="image/x-icon">
  <title>Buscar</title>
</head>
<body>
  <header id="header_container" class="header_container"></header>
  <h1 class="title_web">Crea un registro de venta</h1>
  <form action="/sales/<%= consulta[0].reference %>" method="get">
    <input type="number" name="reference" placeholder="Referencia de la prenda" required />
    <input type="submit" value="Registrar venta" />
  </form>
  <footer class="footer_container" id="footer_container"></footer>
  <script src="/js/index.js"></script>
</body>
</html>