<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="shortcut icon" href="/ico/ico.ico" type="image/x-icon">
  <title>buscar registros de las ventas</title>

</head>
<body>
  <header id="header_container" class="header_container"></header>
  <h1 class="title_web">Registros por referencia</h1>

  <form action="/searchsales/results" method="post">
    <input type="text" name="reference" />
    <input type="submit" value="Buscar ventas por referencia" />
  </form> 
  
  <footer class="footer_container" id="footer_container"></footer>
  <script src="/js/index.js"></script>
</body>
</html>