<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/ico/ico.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/main.css">
  <title>Buscar referencia en el stock</title>
</head>
<body>
  <header id="header_container" class="header_container"></header>

  <h1 class="title_web">Referencia a buscar</h1>
  <form action="searchStock" method="post">
    <input type="number" autofocus="true" name="reference" placeholder="Referencia para AGREGAR al Stock">
    <input type="submit" value="In Stock?">  
  </form>
  <footer class="footer_container" id="footer_container"></footer>
  <script src="/js/index.js"></script>
</body>
</html>