.renta_nav_container {
    display: flex;
    width: 90%;
    justify-content: space-between;
    background-color: dodgerblue;
    align-items: center;
    color: white;
    border-top: 3px solid lime;
    border-bottom: 3px solid lime;
    border-radius: 0 10em 10em 0;
    overflow: hidden;
    margin: 4em 0 2em 0;
}

.renta_nav_data {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.renta_nav_total{
    display: flex;
    justify-content: space-around;
    background-color: dodgerblue;
    padding: 1em;
    width: 40%;
    color: white;
    align-items: center;
}
.renta{
    width: 30%;
    padding: .5em;
    border-radius: 5em;
    font-weight: bold;
    background-color: deeppink;
    color: black;
}

.deep{
    background-color: deeppink;  content: '$ ';
    display: inline;
    color: white;
}
.lime{
    background-color: lime;
    color: black;
}
.dodger{
    background-color: dodgerblue;
    color: white;
}